@import 'variables';

@media screen and (max-width: $tablet-scream) {
    .container {
        margin: 0 auto;
        #list {
            display: grid;
            grid-template-columns: auto auto;
        }
    }
}