$black: black;
$white: white;
$blue-dark: #394a56;
$blue-gray: rgb(66, 66, 124);
// Modo escuro ===========================================
$shadowButtonThemeDark: #3b3a3a;
$shadowButtonThemeDark1: rgba(119, 116, 116, 0.685);
$ballThemeModeDark: #e4e4e4;
// Modo claro ============================================
$shadowButtonThemeLight: #cecece;
$shadowButtonThemeLight1: rgba(224, 224, 224, 0.685);
$ballThemeModeLight: #000000;