$black: black;
$white: white;
$blue-dark: #394a56;
$blue-gray: rgb(66, 66, 124);
// Modo escuro ===========================================
$shadowButtonThemeDark: rgb(202, 187, 57);
$shadowButtonThemeDark1: #ffd000c2;
$ballThemeModeDark: #e4e4e4;
// Modo claro ============================================
$shadowButtonThemeLight: rgb(202, 187, 57);
$shadowButtonThemeLight1: #ffd000c2;
$ballThemeModeLight: #2e2d2d;