@mixin flexCenter($direction, $position) {
    display: flex;
    align-items: center;
    justify-content: $position;
    flex-direction: $direction;
}

header {
    @include flexCenter(column, start);
    background-color: $primaria;
    padding: 5px;
    padding-bottom: 10px;
    h1 {
        padding: 10px;
        border-radius: 10px;
        color: white;
        &:hover {
            background-color: gray;
        }
    }
}